<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
    </head>
    <body>
    <body>
        <div class="jumbotron text-center">
            <h1>Delete Parcel</h1>
            <p>Lab 6</p>

        </div>
        <h1>
            <a type="button" class="btn btn-primary btn-lg" href="addparcel.html">Add Parcel</a>
            <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        </h1>
    
        <form action="/deleteparcel" method="POST">
    
            Parcel ID <input type="text"  name="id" /> </br>
            <!-- Sender <input type="text"  name="sender" /> </br> -->
            <input type="submit" value="Submit" /> </br>
        </form>
    </body>
</html>