<html>
    <head>

        
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
    </head>
    <body>
            <div class="jumbotron text-center">
                <h1>Week 6</h1>
                <p>Mongoose Lab</p>

            </div>
        <h1>
            <a type="button" class="btn btn-primary btn-lg" href="addparcel.html">Add Parcel</a>
            <a type="button" class="btn btn-primary btn-lg" href="getparcels.html">Show Parcels</a>
            <a type="button" class="btn btn-primary btn-lg" href="deleteparcel.html">Delete Parcels</a>
            <a type="button" class="btn btn-primary btn-lg" href="updateparcel">Update Parcels</a>
        </h1>


    </body>
</html>